/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

.intro {
    text-align: center;
}

.intro img {
    width: 150px;
    border-radius: 50%;
}

.projects-container .project {
    margin-bottom: 20px;
}

.projects-container .project img {
    max-width: 100%;
    border-radius: 5px;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-container form label {
    margin: 10px 0 5px;
}

.contact-container form input,
.contact-container form textarea,
.contact-container form button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
